page {
  // 骨架屏浅色
  --cw-skeleton-background-light: #f4f4f4;
  // 骨架屏深色
  --cw-skeleton-background-dark: #dddddd;

  // 主题色
  --cw-theme-1: #f3943f;

  // 底部边距
  --cw-padding-bottom: 66rpx;
  // --cw-padding-bottom: calc(32rpx + env(safe-area-inset-bottom));
}
